@using BlazorTMDB.Shared.Models
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager

<div id="searchContainer">
    <p>@_message</p>
    <button @onclick="Send">Search</button>
</div>
<hr />

@code {
    private HubConnection _hubConnection;
    private string _message = "";
    private string _userInput;
    private string _messageInput;

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/chatHub"))
            .Build();

        _hubConnection.On<string>
    ("ReceiveMessage", message =>
    {
        _message = message;

        StateHasChanged();
    });

        await _hubConnection.StartAsync();
    }

    Task Send() =>
    _hubConnection.SendAsync("SendMessage");

    public bool IsConnected =>
    _hubConnection.State == HubConnectionState.Connected;
}